.footer {
  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: center;

  background-color: white;
  border-top: 2px solid #ccc;

  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}
