.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-inputs input:first-child {
  margin-bottom: 12px;
}

.edit-input {
  border: 1px solid black;
  padding: 8px;
}

.save-button {
  font-weight: bold;
  color: white;
  border-color: #00bc77;
  background-color: #00bc77;

  padding: 4px 32px;
  margin-right: 12px;
}

.save-button:hover {
  color: #00bc77;
  background-color: white;

  cursor: pointer;
}

.cancel-button {
  border-color: red;
  background-color: white;
  color: red;

  padding: 4px 32px;
}

.cancel-button:hover {
  font-weight: bold;
  color: white;

  border-color: red;
  background-color: red;

  padding: 4px 32px;
}

.error {
  font-size: 12px;
  font-style: italic;
  color: red;
}
